<div class="shell">
  <div class="range range-xs-center">
    <div class="cell-lg-10"><a class="brand" href="/index"><<img src="images/hairfashion-logo.png" alt="" width="200" height="125"/></a>
      <div class="text-highlighted-wrap">
        <p class="text-highlighted">Hair Fashion er et nr. 1 sted at blive klippet i Aarhus. Her kan du få luksus Stylist oplevelse til en fornuftig pris.</p>
      </div>
      <ul class="footer-navigation footer-navigation-horizontal">
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/step1">Services</a></li>
        <li><a href="/contacts">Contacts</a></li>
      </ul>
      <div class="divider divider-small divider-light block-centered"></div>
      <ul class="inline-list inline-list-md">
        <li><a class="icon icon-xs link-gray-light fa-facebook" href="#"></a></li>
        <li><a class="icon icon-xs link-gray-light fa-twitter" href="#"></a></li>
        <li><a class="icon icon-xs link-gray-light fa-youtube" href="#"></a></li>
        <li><a class="icon icon-xs link-gray-light fa-linkedin" href="#"></a></li>
      </ul>
    </div>
  </div>
</div>