<div class="page-header-left"><a class="brand" href="/index"><img src="images/hairfashion-logo.png" alt="" width="150" height="75"/></a></div>
<div class="page-header-center">
  <div class="step-progress">
    <div class="step-progress-top"><span class="step-progress-number">3</span><span>of</span><span class="step-progress-number">3</span></div>
    <div class="step-progress-bottom">
      <p class="step-progress-text">STEPs</p>
    </div>
  </div>
</div>
<div class="page-header-right">
  <div id="perspective-open-menu" data-custom-toggle=".perspective-menu-toggle" data-custom-toggle-hide-on-blur="true"><span class="perspective-menu-text">Menu</span>
    <button class="perspective-menu-toggle"><span></span></button>
  </div>
</div>