<div class="rd-navbar-wrap">
    <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-stick-up-clone="true" data-md-stick-up-offset="140px" data-lg-stick-up-offset="140px">
      <div class="rd-navbar-inner">
        <div class="rd-navbar-panel">
          <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
          <div class="rd-navbar-brand"><a class="brand-name" href="/index">
              <div class="brand-mobile"><img src="images/hairfashion-logo.png" alt="" width="300" height="36" />
              </div>
              <div class="brand-desktop"><img src="images/hairfashion-logo.png" alt="" width="175" height="125" style='margin-right:40px;'/>
              </div></a></div>
        </div>
        <div class="rd-navbar-nav-wrap">
          <div class="rd-navbar-nav-inner">
            <ul class="rd-navbar-nav">
              <li class="active"><a href="/index">Home</a></li>
                
              
              <li><a href="#">About</a></li>
                
              
              <li><a href="/step1">Services</a></li>
              
              
              
              <li><a href="/contacts">Contacts</a></li>
                
              
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>