<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Home</title>
    <%- include('../partials/head') %>

  </head>
  <body>
    <div class="page">
      <header class="page-header">

          <%- include('../partials/header') %>

      </header>

      <section class="jumbotron-custom jumbotron-custom-3 bg-white bg-image bg-image-custom bg-image-center" style="background-image: url(images/home-three-1-1920x800.jpg);">

        <div class="jumbotron-custom-content text-center">
          <div class="shell">
            <div class="range range-sm-center">
              <div class="cell-sm-9 cell-md-8 cell-lg-7">
                <h1>Nyd vores hårtjenester</h1>
                <p class="large"> Skab dit nye fantastiske look med vores tjenester! Fra klipning til farvning kan du opleve det bedste niveau af hårstyling i området.</p><a class="btn btn-style-1 btn-primary" href="/step1">BOOK NU</a>
              </div>
            </div>
          </div>
        </div>

      </section>

      <section class="section-xl bg-periglacial-blue text-center text-md-left">
        <div class="shell-fluid shell-condensed">
          <div class="range range-md-reverse range-xs-middle range-md-right range-50">
            <div class="cell-md-5 cell-lg-4">
              <div class="inset-1">
                <h2>HVEM VI ER</h2>
                <div class="p text-width-smallest">
                  <p class="big">Hair Fashion er et team af højt kvalificerede hårstylister, der er dedikeret til at tilbyde den bedste værdi. Det gør vi ved at levere salonservice af høj kvalitet til alle i en varm og venlig atmosfære.</p>
                </div><a class="btn btn-sm btn-style-1 btn-primary" href="#">Læs mere</a>
              </div>
            </div>
            <div class="cell-md-7 cell-lg-6">
              <div class="row row-gutter-custom range-15">
                <div class="col-xs-4">
                  <figure class="figure-fullwidth"><img src="images/fm-portfolio1.webp" alt="" width="300" height="460"/>
                  </figure>
                </div>
                <div class="col-xs-4">
                  <figure class="figure-fullwidth"><img src="images/fm-portfolio2.jfif" alt="" width="300" height="460"/>
                  </figure>
                </div>
                <div class="col-xs-4">
                  <figure class="figure-fullwidth"><img src="images/fm-portfolio3.jfif" alt="" width="300" height="460"/>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="bg-white">
        <div class="shell-fluid shell-condensed">
          <div class="range range-condensed">
            <div class="cell-md-6 cell-md-6-mod-1 image-wrap-left bg-white bg-image" style="background-image: url(images/home-three-2-910x800.jpg);">
              <div class="image-wrap-inner">
                <h2>VORES<br>TJENESTER</h2>
                <p class="big">Hair Fashion tilbyder kvindeklip, farvning og hårpleje i verdensklasse. Her er blot nogle af de tjenester, vi er berømte for.</p><a class="btn btn-style-1 btn-primary" href="/step1">læs mere</a>
              </div>
            </div>
            <div class="cell-md-6 cell-md-6-mod-2 image-wrap-right bg-gray-dark bg-image" style="background-image: url(images/styling1.jpg);">
              <div class="image-wrap-inner" style='background-color:rgba(0, 0, 0, 0.574)'>
                <div class="range range-condensed range-inner-bordered">
                  <div class="cell-xs-6">
                    <article class="box-icon">
                      <figure class="box-icon-image"><img src="images/icon-service-light-1-70x62.png" alt="" width="70" height="62"/>
                      </figure>
                      <p class="box-icon-header"><a class="link-underlined" href="/step1">Hårpleje</a></p>
                      <p class="box-icon-text">En af de mest populære tjenester, som vores hårstylister tilbyder</p>
                    </article>
                  </div>
                  <div class="cell-xs-6">
                    <article class="box-icon">
                      <figure class="box-icon-image"><img src="images/icon-service-light-1-70x62.png" alt="" width="70" height="62"/>
                      </figure>
                      <p class="box-icon-header"><a class="link-underlined" href="/step1">Farvelægning</a></p>
                      <p class="box-icon-text">En af de mest populære tjenester, som vores hårstylister tilbyder</p>
                    </article>
                  </div>
                  <div class="cell-xs-6">
                    <article class="box-icon">
                      <figure class="box-icon-image"><img src="images/icon-service-light-1-70x62.png" alt="" width="70" height="62"/>
                      </figure>
                      <p class="box-icon-header"><a class="link-underlined" href="/step1">TRADITIONELLE KLIPPERINGER</a></p>
                      <p class="box-icon-text">En af de mest populære tjenester, som vores hårstylister tilbyder</p>
                    </article>
                  </div>
                  <div class="cell-xs-6">
                    <article class="box-icon">
                      <figure class="box-icon-image"><img src="images/icon-service-light-1-70x62.png" alt="" width="70" height="62"/>
                      </figure>
                      <p class="box-icon-header"><a class="link-underlined" href="/step1">Bryllup</a></p>
                      <p class="box-icon-text">En af de mest populære tjenester, som vores hårstylister tilbyder</p>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-xl bg-periglacial-blue text-center">
        <div class="shell">
          <div class="range range-sm-center range-75">
            <div class="cell-xs-12">
              <h2>UDTALELSER</h2>
              <div class="p text-width-medium">
                <p class="big">Disse anmeldelser, som vores kunder for nylig har indsendt, er den bedste måde at lære mere om vores barbershops serviceniveau og kundesupport.</p>
              </div>
            </div>
            <div class="cell-xs-12">
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-carousel-modern owl-style-1" data-items="1" data-stage-padding="0" data-loop="true" data-margin="20" data-xs-margin="30" data-mouse-drag="false" data-nav="true" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut">
                <div class="item">
                  <blockquote class="quote-centered">
                    <div class="quote-centered-avatar"><img src="images/testimonials-1-100x100.jpg" alt="" width="100" height="100"/>
                    </div>
                    <cite>Lars Knud</cite>
                    <p class="quote-centered-text">
                      <q>Jeg har taget min 3-årige søn til hans første klipning, og nu er jeg glad for, at han har sådan et fantastisk udseende. Jeg anbefaler enhver af frisørerne hos Hair Fashion for service og stolthed over deres arbejde. Jeg tror, at min søn aldrig ville få lov til at forlade stolen uden et virkelig smukt snit.</q>
                    </p>
                    <ul class="inline-list inline-list-md">
                      <li><a class="icon icon-xs link-gray-base fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-xs link-gray-base fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-xs link-gray-base fa-linkedin" href="#"></a></li>
                    </ul>
                  </blockquote>
                </div>
                <div class="item">
                  <blockquote class="quote-centered">
                    <div class="quote-centered-avatar"><img src="images/woman.jfif" alt="" width="100" height="100"/>
                    </div>
                    <cite>Natasha</cite>
                    <p class="quote-centered-text">
                      <q>Jeg ville ikke tage andre steder hen i Aarhus. Jeg har været her det sidste år, og jeg har aldrig haft det bedre med at betale gode penge for en klipning. Stylisterne ved, hvad de laver, giver solide råd og klipper som professionelle. Jeg var ikke vant til dette før, men jeg vil besøge Hair Fashion igen.</q>
                    </p>
                    <ul class="inline-list inline-list-md">
                      <li><a class="icon icon-xs link-gray-base fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-xs link-gray-base fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-xs link-gray-base fa-linkedin" href="#"></a></li>
                    </ul>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="box-wrap box-wrap-md bg-white">
        <div class="box-wrap-map">
          <div class="rd-google-map rd-google-map__model" data-zoom="14" data-x="-74.0150000" data-y="40.643180">
            <ul class="map_locations"></ul>
          </div>
        </div>
        <div class="box-wrap-content">
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12">
                <div class="box-contacts box-contacts-horizontal box-wrap-content-interactive block-right">
                  <div class="box-contacts-col">
                    <div class="box-contacts-block">
                      <h3>Address</h3>
                      <address>123 Bankegade 8000 Aarhus</address>
                    </div>
                    <div class="divider divider-nebula"></div>
                    <div class="box-contacts-block">
                      <h3>Åbningstider</h3>
                      <dl class="box-contacts-terms-list">
                        <dt>Mandag – Fredag</dt>
                        <dd>9am - 6pm</dd>
                        <dt>lørdag and Søndag</dt>
                        <dd>10am - 4pm</dd>
                      </dl>
                    </div>
                  </div>
                  <div class="box-contacts-col box-contacts-right">
                    <div class="box-contacts-block">
                      <h3>Tag kontakt</h3>
                      <p>Efterlad dit navn og telefonnummer, så kontakter vi dig.</p>
                      <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                        <div class="form-group">
                          <label class="form-label-outside" for="contact-full-name">Fulde navn</label>
                          <input class="form-control" id="contact-full-name" type="text" name="name" data-constraints="@Required">
                        </div>
                        <div class="form-group">
                          <label class="form-label-outside" for="contact-phone">Telefon</label>
                          <input class="form-control" id="contact-phone" type="text" name="phone" data-constraints="@Required @Numeric">
                        </div>
                        <button class="btn btn-sm btn-primary btn-block btn-circle" type="submit">SEND ANMODNING</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="page-footer page-footer-variant-3">
          <div class="shell">
            <div class="range range-50">
              <div class="cell-sm-6 cell-md-4">
                <h3>Pages</h3>
                <div class="divider divider-conch"></div>
                <ul class="footer-navigation row footer-navigation-vertical" style="max-width: 390px;">
                  <li class="col-xs-6"><a href="/index">Home</a></li>
                  
                  <li class="col-xs-6"><a href="about.html">About</a></li>
                  
                  <li class="col-xs-6"><a href="/step1">Services</a></li>
                  <li class="col-xs-6"><a href="contacts-1.html">Contacts</a></li>
                </ul>
              </div>
              <div class="cell-sm-6 cell-md-5">
                <h3>Beskrivelse</h3>
                <div class="divider divider-conch"></div>
                <div class="text-highlighted-wrap">
                  <p class="text-highlighted">Hair Fashion er et nr. 1 sted at blive klippet i Aarhus. Her kan du få luksusfrisor oplevelse til en fornuftig pris.</p>
                </div>
              </div>
              <div class="cell-sm-6 cell-md-3">
                <h3>Follow Us</h3>
                <div class="divider divider-conch"></div>
                <ul class="inline-list inline-list-xs">
                  <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-facebook" href="#"></a></li>
                  <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-twitter" href="#"></a></li>
                  <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-youtube" href="#"></a></li>
                  <li><a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-linkedin" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>

      </footer>

    </div>
    <div class="modal fade text-center" id="modalWindow" role="dialog">
      <div class="modal-dialog custom-modal-dialog">
        <div class="custom-modal-content">
          <button class="close" type="button" data-dismiss="modal"></button>
          <div class="shell">
            <div class="box-portfolio"><img class="box-portfolio-image" src="images/barbers-single-1-130x130.jpg" alt="" width="130" height="130"/>
              <p class="box-portfolio-header">simon wilson</p>
              <div class="box-portfolio-text">
                <p>Simon Wilson founded Barbershop in 2003 at the age of 23. He decided to establish a place where the long standing traditions of American barbering could be saved. He kept Barbershop a true place for men, their fathers, and sons, rather than converting it to a unisex salon as was the popular trend at the time. Over the past 13 years, Mr. Wilson has grown his shop from a small, local spot to a nationally and internationally recognized standard in the industry. Simon has been the recipient of various accolades including the HYPE Award for Entrepreneurs and the Hartford Business Journal's 40 Under Forty (Class of 2014). He can be found at the shop on Wednesdays and Fridays.</p>
              </div>
              <ul class="inline-list inline-list-md">
                <li><a class="icon icon-xs link-gray-base fa-facebook" href="#"></a></li>
                <li><a class="icon icon-xs link-gray-base fa-twitter" href="#"></a></li>
                <li><a class="icon icon-xs link-gray-base fa-linkedin" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>