<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>

    <!-- Site Title-->
    <title>Step 2</title>
    <%- include('../partials/head') %>

  </head>

  <body class="one-screen-page">

    <div class="page">
      <main class="page-content" id="perspective">
        <div class="content-wrapper">

          <div class="page-header page-header-perspective">
            <%- include('../partials/header-steps-counter2') %>
          </div>
          
          <div class="custom-progress">
            <div class="custom-progress-body" style="width: 33.33%;"></div>
          </div>
          <div id="wrapper">
            <section class="section-xs bg-periglacial-blue one-screen-page-content text-center">
              <div class="shell"><a class="link link-primary link-return" href="/step3">Back</a></div>
              <div class="shell">
                <h2>Vælge Stylist</h2>
                <div class="p text-width-medium">
                  <p class="big">Hair Fashion tilbyder professionelle tjenester af certificerede stylister med mange års erfaring. På denne side kan du vælge en foretrukken stylist med få klik.</p>
                </div>
                <div class="range range-lg-center">
                  <div class="cell-lg-10">
                    <div class="range range-sm-center range-md-left range-30">
                      <div class="cell-sm-8 cell-md-6">
                        <div class="thumbnail-option">
                          <div class="thumbnail-option-left"><img src="images/team-1-170x180.jpg" alt="" width="170" height="180"/>
                          </div>
                          <div class="thumbnail-option-body">
                            <div class="thumbnail-option-title">Simon Andersen</div>
                            <ul class="thumbnail-option-list">
                              <li>mo</li>
                              <li class="active">tu</li>
                              <li class="active">we</li>
                              <li>th</li>
                              <li class="active">fr</li>
                              <li>st</li>
                              <li>sn</li>
                            </ul>
                            <div class="thumbnail-option-panel"><a class="btn btn-xs btn-primary btn-circle" href="/step3">Vælge</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="cell-sm-8 cell-md-6">
                        <div class="thumbnail-option">
                          <div class="thumbnail-option-left"><img src="images/fm-portfolio1.webp" alt="" width="170" height="180"/>
                          </div>
                          <div class="thumbnail-option-body">
                            <div class="thumbnail-option-title">Sofia Andersen</div>
                            <ul class="thumbnail-option-list">
                              <li>mo</li>
                              <li class="active">tu</li>
                              <li class="active">we</li>
                              <li>th</li>
                              <li class="active">fr</li>
                              <li>st</li>
                              <li>sn</li>
                            </ul>
                            <div class="thumbnail-option-panel"><a class="btn btn-xs btn-primary btn-circle" href="/step3">Vælge</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="cell-sm-8 cell-md-6">
                        <div class="thumbnail-option">
                          <div class="thumbnail-option-left"><img src="images/team-3-170x180.jpg" alt="" width="170" height="180"/>
                          </div>
                          <div class="thumbnail-option-body">
                            <div class="thumbnail-option-title">Oscar anderson</div>
                            <ul class="thumbnail-option-list">
                              <li>mo</li>
                              <li class="active">tu</li>
                              <li class="active">we</li>
                              <li>th</li>
                              <li class="active">fr</li>
                              <li>st</li>
                              <li>sn</li>
                            </ul>
                            <div class="thumbnail-option-panel"><a class="btn btn-xs btn-primary btn-circle" href="/step3">Vælge</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="cell-sm-8 cell-md-6">
                        <div class="thumbnail-option">
                          <div class="thumbnail-option-left"><img src="images/fm-portfolio2.jfif" alt="" width="170" height="180" position='center'/>
                          </div>
                          <div class="thumbnail-option-body">
                            <div class="thumbnail-option-title">	Ida Andersen</div>
                            <ul class="thumbnail-option-list">
                              <li>mo</li>
                              <li class="active">tu</li>
                              <li class="active">we</li>
                              <li>th</li>
                              <li class="active">fr</li>
                              <li>st</li>
                              <li>sn</li>
                            </ul>
                            <div class="thumbnail-option-panel"><a class="btn btn-xs btn-primary btn-circle" href="/step3">Vælge</a></div>
                          </div>
                        </div>
                      </div>
                      <div class="cell-sm-8 cell-md-6">
                        <div class="thumbnail-option">
                          <div class="thumbnail-option-left"><img src="images/fm-portfolio3.jfif" alt="" width="170" height="180" position='center'/>
                          </div>
                          <div class="thumbnail-option-body">
                            <div class="thumbnail-option-title">Emma Andersen</div>
                            <ul class="thumbnail-option-list">
                              <li>mo</li>
                              <li class="active">tu</li>
                              <li class="active">we</li>
                              <li>th</li>
                              <li class="active">fr</li>
                              <li>st</li>
                              <li>sn</li>
                            </ul>
                            <div class="thumbnail-option-panel"><a class="btn btn-xs btn-primary btn-circle" href="/step3">Vælge</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <!-- Page Footer-->
            <footer class="page-footer page-footer-default">
              <%- include('../partials/footer') %>
            </footer>
          </div>
          <div id="perspective-content-overlay"></div>
        </div>
        <!-- RD Navbar-->

        <div class="rd-navbar-wrap">
          <%- include('../partials/rd-navbar') %>
        </div>

      </main>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--share" title="Share"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>